<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pm.login">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name="com.basics.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/login_ic_launcher"
        android:label="@string/login_module_name"
        android:roundIcon="@mipmap/login_ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>