<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pm.news">

    <application>
        <activity android:name=".MainActivity"></activity>
        <activity android:name="com.pm.news.details.NewsDetailsActivity" />
    </application>

</manifest>