<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pm.amass">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name=" android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.growth.comment.CommentActivity"></activity>
        <activity android:name=".ui.growth.details.ArticleDetailsActivity" />
        <activity android:name=".mission.raiders.RaidersActivity" />
        <activity android:name=".test.TestActivity" />
        <activity android:name=".mission.task.DailyTaskActivity" />
        <activity android:name=".news.details.NewsDetailsActivity" />
        <activity android:name=".mine.coin.VirtualCoinActivity" />
        <activity android:name=".mine.order.OrderActivity" />
        <activity android:name=".mine.top.TopActivity" />
        <activity android:name=".mine.mission.MissionActivity" />
        <activity android:name=".mine.mall.MallActivity" />
        <activity android:name=".mine.personal.PersonalActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mine.setting.SettingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
    </application>

</manifest>